
#small-info-container {
    background-color: yellow;
    /* height: 100%; */
    /* max-height: 100%; */
    justify-content: center;
    padding: 4px;
}

#small-info-container:hover {
    cursor: pointer;
}

#small-info-container[class="disconnected"] {
    background-color: red;
}

#small-info-container[class="connected"] {
    background-color: #83c702;
}



svg {
    transform: translateY(20%);
}

#session-members-number {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 2px;
}

#connection-news-popover {
    position: absolute;
    inset: unset;
    top: 42px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: transparent;
    max-width: 90%;
    border: none;
}

.connection-news-div {
    background-color: #83c702;
    color: black;
    text-align: center;
    border-radius: 8px;
    border: none;
    box-shadow: 3px 6px 6px hsl(0deg 0% 0% / 0.45);
    font-size: 1.3rem;
    padding: 10px;
    margin: 10px;
}

.connection-news-div p {
    margin: 0;
}

#info-popover {
    width: 600px;
    height: 600px;
    padding: 10px;
    background-color: rgb(221, 221, 221);
    border: 1px solid black;
    box-shadow: 5.0px 10px 10px hsl(0deg 0% 0% / 0.55);
}

#session-id-container {
    text-align: center;
}

#session-id {
    font-size: 1rem;
}

#session-members-list {
    font-size: 1.15rem;
}







