
/* :host {
    display: block;
    border: 1px solid black;
} */


video {
    display: none;
}

#player-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.player-controls-container {
    z-index: 100;
    margin: 0;
    width: 100%;
}

.timeline-container {
    margin-top: 10px;
    height: 15px;
    margin-inline: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#main-timeline-container.scrubbing .timeline::before,
#main-timeline-container:hover .timeline::before {
    display: block;
}

#main-timeline-container.scrubbing .timeline,
#main-timeline-container:hover .timeline {
    height: 100%;
}

.timeline {
    background-color: rgba(100, 100, 100, 0.5);
    height: 9px;
    width: 100%;
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: rgb(150, 150, 150);
    display: none;
}

.timeline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: #1c274c;
}

.indicator-arrow {
    --scale: 1;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    top: -101%;
    width: 0; 
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.indicator-line {
    --scale: 1;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    transition: transform 150ms ease-in-out;
    width: 2px;
}

#position-indicator-arrow {
    z-index: 100;
    left: calc(var(--progress-position) * 100%);
    border-top: 8px solid #f00;
}

#position-indicator-line {
    z-index: 100;
    left: calc(var(--progress-position) * 100%);
    background-color: red;
}

.loop-indicator-arrow {
    z-index: 99;
    left: calc(var(--progress-position) * 150%);
    border-top: 8px solid rgb(224, 20, 187);
}

.loop-indicator-line {
    z-index: 99;
    left: calc(var(--progress-position) * 150%);
    background-color: rgb(224, 20, 187);
}

.player-controls-container .controls {
    display: flex;
    gap: .5rem;
    padding: .25rem;
    align-items: center;
}

.player-controls-container .controls button {
    cursor: pointer;
}

:host([state="play"]) .play-icon {
    display: none;
}

:host([state="pause"]) .pause-icon {
    display: none;
}

.duration-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#current-time, #current-measure {
    text-align: center;
}

#volume-high-icon,
#volume-low-icon,
#volume-muted-icon {
    display: none;
}

#volume-container[data-volume-level="high"] #volume-high-icon {
    display: block;
}

#volume-container[data-volume-level="low"] #volume-low-icon {
    display: block;
}

#volume-container[data-volume-level="muted"] #volume-muted-icon {
    display: block;
}

#volume-container {
    display: flex;
    align-items: center;
}

#volume-slider {
    width: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}

#volume-container:hover #volume-slider{
    width: 90px;
    transform: scaleX(1);
}

#loop-container {
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#loop-container[data-loop="true"] {
    background-color: rgba(5, 226, 5, 0.189);
}

#loop-container #loop-form-container {
    display: none;
}

#loop-container[data-loop="true"] #loop-form-container {
    display: block;
}