h1 {
    color: red;
}

#concordance-navigator-container, #item-selector-container, #group-selector-container, #concordance-selector-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#concordance-selector, #group-selector, #item-selector {
    text-align: center;
}

#buttons-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#show-connection-button {
    flex-grow: 1;
}

button {
    margin: 3px;
}

.hidden {
    display: none !important;
}
