h1 {
    color: red;
}

#concordance-navigator-container, #item-selector-container, #group-selector-container, #concordance-selector-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#item-selector-container, #group-selector-container, #concordance-selector-container, #time-container {
    margin: 5px;
}

#concordance-selector, #group-selector, #item-selector {
    text-align: center;
}

#item-slider, #item-selector, #timeline-basis-selector, #duration-container {
    margin-bottom: 3px;
}

#buttons-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#show-connection-button {
    flex-grow: 1;
}

#time-container {
    display: none;
}

#duration-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

button {
    margin: 3px;
}

.hidden {
    display: none !important;
}
